<body>
    <div class="container" style="padding-top:60px">
        <div class="row">
            <section class="main col-md-9">
                <article>
                    <h2>About </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam provident alias maiores id perspiciatis debitis natus magni labore sequi et aspernatur placeat laudantium laboriosam, est minima quae iure veritatis incidunt?
                    Iusto aut similique error maiores quod, hic qui delectus doloremque, dignissimos aspernatur illum minus pariatur unde sapiente. Possimus tempora ducimus repellat consequuntur eius, non sit velit nisi cumque veniam est.
                    Eum facilis nostrum dolores! Inventore incidunt dolore minus quisquam ex est, sunt laboriosam cumque repellendus nemo beatae officia totam rerum veniam ducimus libero id vel soluta fugit dolorum, optio necessitatibus.
                    Modi velit delectus reprehenderit cumque accusantium magni officia repudiandae ipsum, sit assumenda libero, amet dicta laborum dolorem voluptatem maiores illo reiciendis quas aliquid asperiores nisi voluptas. In consequatur laboriosam veritatis.
                    Voluptate laboriosam nam porro iure corporis voluptatibus laudantium, quia beatae et autem ea tenetur nesciunt error odit modi dolore doloribus nisi atque, eveniet, ex illum corrupti sunt quam. Facilis, eligendi.
                    Aut molestiae accusamus nam neque facilis cum quasi similique saepe, accusantium, nisi doloremque odio non itaque impedit, expedita eos suscipit. Rerum facilis esse nisi cumque pariatur obcaecati fuga rem necessitatibus?
                    Non sapiente id consequuntur veritatis mollitia ratione totam reprehenderit ea voluptatum, quam eligendi alias commodi numquam aut asperiores culpa ducimus! Tenetur aliquid ipsum voluptas atque, blanditiis recusandae illum doloribus aperiam?
                    Sequi inventore rem enim tenetur vitae rerum eos porro reiciendis quasi qui, saepe culpa aliquid animi dolor cumque molestiae numquam ad id laborum delectus quo. Odit eos quaerat commodi assumenda?
                    Reiciendis voluptatibus hic aut. Assumenda recusandae ex vel accusantium incidunt aperiam perspiciatis numquam? Excepturi blanditiis, maxime iste repellendus aspernatur, distinctio eligendi tempore expedita sapiente possimus modi, placeat minus qui pariatur.
                    Suscipit officia eaque quod in veritatis ipsam quia consequuntur, maiores, aperiam, magnam totam! Illo neque ad quisquam dolore autem repellat corrupti? Voluptate, odit saepe eaque necessitatibus perferendis qui odio! Porro!</p>
                </article>
            </section>
            <aside class="col-md-3">
                <h2>Coming Soon...</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem inventore magnam commodi quia molestias, quidem nulla deleniti excepturi alias ab sapiente. Debitis eius minima alias at voluptas ut impedit quidem!</p>
            </aside>
        </div>
    </div>
</body>